{mode, max}.

{duration,1}.

{concurrent,1 }.

{sequencer,'riak@127.0.0.1'}.

{operations, [{put,1},{update,1},{get,100}]}.

{driver, basho_bench_driver_riakclient}.

{code_paths, ["/home/chathuri/git/Riak-Sequencer-Optimized/riak/rel/riak/lib/riak_kv-2.1.1-30-gedce9a2",
              "/home/chathuri/git/Riak-Sequencer-Optimized/riak/rel/riak/lib/riak_core-2.1.5"]}.

{key_generator, {int_to_bin_bigendian, {uniform_int, 350}}}.

{value_generator, {fixed_bin, 100}}.

{riakclient_nodes, ['riak@127.0.0.1']}.

{riakclient_mynode, ['riak_bench@127.0.0.1', longnames]}.

{riakclient_replies, 1}. 
