{mode,  {rate,10}}.

{duration,2}.

{concurrent,5 }.

{operations, [{put,1}]}.

{num_dcs,3}.

{local_dc_id,1}.

{driver, basho_bench_driver_riakclient}.

{code_paths, ["/home/chathuri/git/Riak-Causal/riak/dev/dev1/lib/riak_kv-2.1.1-58-g0444ec8","/home/chathuri/git/Riak-Causal/riak/dev/dev1/lib/riak_core-2.1.5"]}.

{key_generator, {int_to_bin_bigendian, {uniform_int, 350}}}.

{value_generator, {fixed_bin, 100}}.

{riakclient_nodes, ['dev1@127.0.0.1']}.
{riakclient_cluster_members,['dev1@127.0.0.1','dev2@127.0.0.1']}.

{riakclient_mynode, ['riak_bench@127.0.0.1', longnames]}.

{riakclient_replies, 1}.
