{mode, max}.

{duration,2}.

{sequencer,'riak@127.0.0.1'}.

{service,sequencer}.

{concurrent,5 }.

{operations, [{put,1}]}.

{driver, basho_bench_driver_riakclient_ordering}.

{code_paths, ["/home/chathuri/git/Riak-Load-Test/riak/rel/riak/lib/riak_kv-2.1.1-36-gd7f8a37","/home/chathuri/git/Riak-Load-Test/riak/rel/riak/lib/riak_core-2.1.5"]}.

{key_generator, {int_to_bin_bigendian, {uniform_int, 350}}}.

{value_generator, {fixed_bin, 100}}.

{riakclient_nodes, ['riak@127.0.0.1']}.

{riakclient_mynode, ['riak_bench@127.0.0.1', longnames]}.

{riakclient_replies, 1}. 
